	#widget {
		width: 900px;
   		overflow: hidden;
		margin-left: 250px;
	}

	#scatterplot {
		height: 600px;
		width: 600px;
		float:left; 
	}

	#controls {
    	overflow: hidden;
	}

	/* For the tabs */
	.ui-widget-content, .ui-tabs-nav li { 
		font-size: 10pt; 
	}